services:
  auth:
    build: ./auth
    container_name: auth
    ports:
      - "8081:8080"
    networks:
      - video-net
  ffs:
    build: ./fss
    container_name: ffs
    volumes:
      - ./mnt/video:/app/data
    ports:
      - "8000:8000"
    networks:
      - video-net

  web-app:
    build: ./web-app
    container_name: web-app
    ports:
      - "5000:5000"
    environment:
    - AUTH_SERVICE_URL=http://auth:8080
    - DB_SERVICE_URL=http://mysql-db:3306
    - FILESYSTEM_SERVICE_URL=http://ffs:8000
    depends_on:
      - mysql-db
      - auth
      - ffs
    networks:
      - video-net

  mysql-db:
    image: mysql:8.0
    container_name: mysql-db
    environment:
      MYSQL_ROOT_PASSWORD: rootpass
      MYSQL_USER: chud
      MYSQL_PASSWORD: son
      MYSQL_DATABASE: video
    volumes:
      - my-db:/var/lib/mysql
      - ./mysql-init:/docker-entrypoint-initdb.d
    networks:
      - video-net

volumes:
  my-db:

networks:
  video-net:
    driver: bridge